body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
}

body h1, h2 {
    text-shadow: .15rem .15rem #3E5C76; 
}

a {
    text-decoration: none;
    color: #F0EBD8;
}

a:hover {
    background-color: #F0EBD8;
    color: #1D2D44;
}

header {
    background-color: #1D2D44;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color: #F0EBD8;
}

#banner {
    padding: 1rem;
    text-align: center;
    background-color: #F0EBD8;
    color:#1D2D44;
    font-family: 'Roboto Flex', sans-serif;
}

nav {
	margin: 0 auto;
	background-color: #1D2D44;
    width: 75%;
    grid-column: 3/4;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
    font-size: 1rem;
	transition: 0.5s;
    padding: 15px;
    text-align: center;
}

.ham {
    width: 65%;
    border-style: solid;
}

.responsive li {
	display: block;
}

#curDate {
    grid-column: 1/4;
    text-align: center;
    background-color: #3E5C76;
    padding: 20px;
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.name h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#home {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: #F0EBD8;
}

main h3 {
    text-align: center;
}

.placeholder-box-hero {
    position: relative;
}

.hero {
    width: 100%;
    height: 100%;
}

.hero-msg {
    position: absolute;
    right: 3rem;
    z-index: 1;
    text-align: right;
    color: #1D2D44;
    text-shadow: .25rem .25rem #F0EBD8;
    font-size: 1.5rem;
}

.placeholder-box-join {
    text-align: center;
    margin: 1rem;
}

.placeholder-box-join a {
    background-color: #1D2D44;
    transition: 0.5s;
    padding: 1rem;
}

.joinContain {
    margin: 1rem;
}

.placeholder-box-join p {
    color: #F0EBD8;
    margin: 1rem;
    padding: 1rem;
}

.placeholder-box-hero, .placeholder-box-news, .placeholder-box-event, .placeholder-box-weather, .placeholder-box-join {
    margin: 1rem;
    padding: 1rem;
    background-color: #3E5C76;
}

.spotlight {
    display: grid;
    grid-template-rows: 200px 200px;
    margin: 1rem;
    padding: .25rem;
    background-color: #748CAB;
}

.placeholder-spot {
    background-color: #3E5C76;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.placeholder-spot img {
    width: 3.75rem;
    padding-bottom: .5rem;
}

.placeholder-box-join {
    display: none;
}

.placeholder-spot:nth-child(3) {
    display: none;
}

footer {
    background-color: #1D2D44;
    text-align: center;
    padding: 1rem;
    color: #F0EBD8;
}

.logo img {
	width: 100px;
	height: auto;
    padding: 1.5rem;
}

.logo {
	display: flex;
	align-items: center;
    font-family: 'Teko';
    font-size: 1rem;
}

.social img {
    width: 20px;
    height: auto;
    border-radius: 100%;
    margin: 5px;
}

.social {
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: 1/2;
}

footer img {
    width: auto;
}

footer .name {
    text-align: center;
    font-size: 1rem;
}

footer h1, p {
    margin-top: 0;
    margin-bottom: 0;
}

.footLogo {
    display: flex;
    flex-direction: column;
}

footer .name {
    font-family: 'Teko';
    font-size: .75rem;
}

.footLogo img {
	width: 100px;
	height: auto;
    padding: 1.5rem;
}

.contact {
    padding: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
}

footer .contact a {
    padding: 1rem;
}

#discover {
    display: flex;
    flex-direction: column;
}

#discover p {
    color: #1D2D44;
    font-size: 1rem;
    margin: 1rem;
}

#discover img[data-src] {
    filter: blur(0.2em);
}

#discover img {
    filter: blur(0em);
    transition: filter 1s;
    margin: 1rem;
    border: 5px solid #1D2D44;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#demographics {
    margin: 1rem;
    background-color: #748CAB;
    padding: 1rem;
}

#demographics p {
    color: #F0EBD8;
    background-color: #1D2D44;    
    padding: 2rem;
    text-align: center;
}

.demo-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 1rem;
}

.visitCSS {
    text-align: center;
    background-color: #F0EBD8;
    padding: 2rem;
    border: 5px solid #1D2D44;
}

#form-grid {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 40rem;
    color: #1D2D44;
}

form {
    background-color: #F0EBD8;
    margin: 1rem;
    border: 5px solid #3E5C76;
}

form fieldset {
    margin: 2rem;
    border: 1px solid #3E5C76;
    border-radius: .25rem;
}

form legend {
    color: #3E5C76;
    margin: 1rem;
    padding: 0 .5rem;
}

.inputFormat label {
    display: block;
    margin: 2rem;
}

.inputFormat input, .inputFormat textarea {
    font-size: 1rem;
    border: solid 1px #1D2D44;
    border-radius: .25rem;
    padding: .75rem;
    width: 100%;
}

.inputFormat span {
    font-size: .75rem;
    margin-left: .5rem;
}

.radioFormat label {
    display: block;
    padding: .75rem;
    margin-left: .5rem;
}

.radioFormat input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

#submit-div {
    text-align: center;
}

#submit {
    border: none;
    background-color: #1D2D44;
    color: #F0EBD8;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

#membLevel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #748CAB;
    color: #F0EBD8;
    margin: 1rem;
    padding: 1rem;
}

#membLevel div {
    background-color: #1D2D44;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
}

#membLevel h4 {
    font-size: 1.25rem;
}

#joinNow {
    display: none;
}

#thank {
    color: #1D2D44;
}

#thank-div {
    text-align: center;
    margin: 5rem;
    font-size: 1.5rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#direct {
    border: 5px solid white;
    box-shadow: 0 0 50px rgb(66, 72, 113);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
}

#direct section {
    background-color: #748CAB;
    padding: 1rem;
    margin: 1rem;
}

.contain {
    background-color: #1D2D44;
    margin: 1rem;
}

#direct h2 {
    margin: 1rem;
    padding: 1rem;
    color: #F0EBD8;
    font-size: 2rem;
    background-color: #1D2D44;
}

#direct p {
    color: #F0EBD8;
    padding: .5rem;
}

#direct a {
    padding: .5rem;
}

#direct a, #direct p:nth-child(2) {
    display: inline;
}

#direct img {
    width: 180px;
    box-shadow: 0 0 50px rgb(66, 72, 113);
}

#weather-icon {
    width: auto;
}

#weather-grid {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.placeholder-box-weather {
    text-align: center;
}

.weatherLink {
    padding: .75rem;
    margin-bottom: 0rem;
}

.weatherContain {
    margin: 1rem;
}

#contact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

#contactInfo {
    background-color: #748CAB;
    color:#F0EBD8;
    padding: 1rem;
    margin: 1rem;
}

#contactColor {
    background-color: #3E5C76;
    padding: 1rem;
    margin: 1rem;
    border: 5px solid #1D2D44;
}

iframe {
    height: 18rem;
    width: 100%;
    border: 0;
}