@media only screen and (min-width:32.5em) {
    
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 300px 1fr 1fr;
    }

    .navigation a {
        font-size: 1.25rem;
    }

    .ham {
        width: 76%;
    }

    .logo img { 
        width: 150px;
    }

    .logo {
        font-size: 1.25rem;
    }

    .social img {
        width: 30px;
    }

    .hero-msg {
        font-size: 1.75rem;
    }

    .placeholder-spot img {
        width: 5rem;
        padding-bottom: .5rem;
    }

    .placeholder-box-hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .placeholder-box-news {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .spotlight {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-row: 3/4;
        grid-column: 1/3;
    }
 
    .placeholder-box-join {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .placeholder-box-event {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .placeholder-box-weather {
        grid-row: 5/6;
        grid-column: 2/3;
    }

    .visit-contain{
		margin-left: 5rem;
		margin-right: 5rem;
	}

    .footLogo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer .name {
        text-align: left;
    }

    .logoName {
        display: flex;
        align-items: center;
    }

    .contact {
        text-align: right;
    }

    #discover p {
        font-size: 1.1rem;
    }

    .radioFormat label:hover {
        background-color: #3E5C76;
        color: #F0EBD8;
    }

    #submit:hover {
        background-color: #3E5C76;
        transform: scale(1.1);
    }

    #membLevel h4 {
        font-size: 1rem;
    }
}