body {
    max-width: 760px;
    margin: 0 auto;
}

header, footer {
    background-color: #F6E1B7;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1, h2, h3, h4 {
    font-family: 'Teko', sans-serif;
    margin-top: .5rem;
    margin-bottom: 0rem;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

p, a, fieldset, input {
    font-family: 'Roboto Flex', sans-serif;
}

p {
    color: #090302;
}

a, button, .button {
    text-decoration: none;
    background-color: #726e6b;
    color: #FCF6EB;
    padding: 1rem;
    border: none;
}

button, .button {
    padding: .5rem;
}

#rooms {
    width: fit-content;
}

.submit-button, #rooms {
    text-align: center;
}

#submit {
    margin-bottom: .5rem;
}

ul {
    list-style-type: none;
    padding: 0rem;
}

li a {
    display: block;
    text-align: center;
    font-size: 1rem;
}

.navigation li:first-child {
	display: block;
}

.navigation li, h1, h2 {
	display: none;
}

.navigation {
    margin: 1rem;
}

.responsive li {
	display: block;
}

.f-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    bottom: 0;
}

footer img {
    width: 4rem;
}

footer a {
    padding: .5rem;
}

.logo-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-link {
    display: none;
}

.contact {
    text-align: center;
    margin: .5rem;
}

.contact p {
    padding: 0rem;
    margin: 0rem;
}

.foot-info {
    text-align: center;
    margin: 0rem;
    padding: .5rem;
}

.temple-info {
    margin: .5rem;
    text-align: center;
}

.temple-info p {
    margin-bottom: 2rem;
    text-align: left;
}

.temple-info a {
    margin: 1rem;

}

.temple-info img, iframe {
    display: block;
    margin: 0 auto;
}

iframe {
    width: 300px;
    height: 200px;
}

.colored {
    background-color: #FCF6EB;
    padding: 1rem;
    margin: .5rem;
}

.open-grid {
    text-align: center;
}

.social-align {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
}

.weather-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.weather-grid img {
    width: 5rem;
}

.weather {
    text-align: center;
}

#threeday {
    border: 1px solid #726e6b;
    margin: .5rem;
}

.weather p {
    margin: 0rem;
}

.temple-cards {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.temple-cards section {
    background-color: #FCF6EB;
    padding: 1rem;
    margin: 1rem;
}

.temple-cards p {
    margin: 0rem;
}

form {
    background-color: #FCF6EB;
    margin: .5rem;
    border: 5px solid #F6E1B7;
}

form fieldset {
    margin: .5rem;
    border: 1px solid #090302;
}

form legend {
    color: #090302;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1.25rem;
}

.inputFormat label {
    display: block;
    margin-top: .5rem;

}

.inputFormat input, .inputFormat textarea, select{
    font-size: 1rem;
    border: solid 1px #090302;
    border-radius: .25rem;
    padding: .75rem;
    width: 100%;
    box-sizing: border-box;
}

.inputFormat span {
    font-size: .75rem;
    margin-left: .5rem;
}

.radioFormat label, .radioFormat li {
    display: block;
    padding: .25rem;
    margin: .25rem;
}

.radioFormat input {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    accent-color: #726e6b;
}

.radioFormat button {
    border: solid 5px #FCF6EB;
}

.thank {
    text-align: center;
    margin: 8rem;
}

#numLikes {
    display: inline;
}

#likebtn {
    margin: 0rem .5rem .5rem;
}

#rooms {
    margin: .5rem;
}


