@media only screen and (min-width:64em) {

    h1 {
        font-size: 2.5rem;
    }

    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .open-grid {
        grid-row: 1/3;
    }

    .temple-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: .5rem;
    }

    .temple-info img, iframe {
        margin: 0 .5rem;
    }

    .media {
        display: block;
    }

    .navigation li:first-child {
		display: none;
	}

    .navigation li {
		display: block; 
		flex: 1 1 auto;
	}

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }



}