body {
    max-width: 760px;
    margin: 10px;
    font-family: 'Roboto Flex', sans-serif;
}

header {
    background-color: #1D2D44;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Teko', sans-serif;
}

header h1 {
    color: #F0EBD8;
    text-align: center;
    font-size: 25px;
}

nav {
    background-color: #1D2D44;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

li {
    flex: 1 1 auto;
}

li a {
    color: #F0EBD8;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    width: 160px;
    padding: 5px;
}

footer {
    background-color: #1D2D44;
    color: #F0EBD8;
    text-align: center;
    padding: 1rem;
}

nav a:hover {
    color: #0D1321;
    background-color: #748CAB;
}

img {
    width: 200px;
    height: auto;
}

header img {
    width: 150px;
    height: auto;
    justify-items: center;
    padding: 2rem;
    padding-bottom: 1rem;

}

table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

table, th, td {
    border: 1px solid;
  }

th, td {
    padding: 10px;
}  

#colorScheme {
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
